<form class="card" style="width: 60rem;" (submit)="goLogin()" >

  <div >
    <h1>Clientes</h1>
    <ul class="list-group list-group-light" *ngFor="let client of clients, let i = index">
      <li class="list-group-item">{{i}} :
        {{client.idType}} :
        {{client.idNumber}} :
        {{client.firstName}} :
        {{client.secondName}} :
        {{client.firstLastname}} :
        {{client.secondLastName}} :
        {{client.phoneNumber}} :
        {{client.address}} :
        {{client.city}}</li>
    </ul>
  </div>

  <br>
  <button type="submit" class="btn btn-info" style="right: 10rem;">Ir a inicio</button>

</form>

